/* You can add global styles to this file, and also import other style files */

html,
body {
 	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card.card-style {
	padding: 0;
	.mat-card-title {
		background-color: #3f51b5;
		font-size: 20px;
		color: white;
		padding: 1rem;
		border-radius: 5px 5px 0 0;
	}
	.mat-card-content {
		padding: 1rem;
	}
}
